.btn-metamask,
.btn-metamask:hover {
  background-color: #ee811a;
  color: white;
}

.btn-walletconnect {
  background-color: #0e76fe;
}
.btn-coinbase {
  background-color: #244ee6;
}
.connect-modal {
  position: absolute;
  inset: 50% auto auto 50%;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 500px;
  height: 300px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(217 216 216) 0px 0px 10px;
}
.connect-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.9;
}
